h1{
    text-align: center;
font-size: 60px;
}

#heading1{
color: hsl(147, 100%, 50%);
}

#heading2{
    color: blue;
}

.paragraph{
font-weight: bold;

font-family: Arial, Helvetica, sans-serif;
}

#VIP{
background-color: rgb(206, 189, 221);
display: flex;
margin: 80px;
padding: 30px;
border-radius: 20px;
}

#VIP img{
    margin-right: 40px;
    border-radius: 300px;
}
#VIP:hover{
    background-color: rgb(231, 10, 21);
    color: rgb(158, 140, 224);
}

